pipeline/Resume_Tech_Pipeline.json
{
	"name": "Resume_Tech_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference",
						"parameters": {
							"candidateresume": {
								"value": "@pipeline().parameters.triggerfilename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ResumeFileName",
					"value": {
						"value": "@activity('Get_Metadata').output.itemName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Searchjob",
					"value": {
						"value": "@substring(activity('Get_Metadata').output.itemName,0,indexof(activity('Get_Metadata').output.itemName,'_'))\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HttpTrigger1",
					"method": "POST",
					"body": {
						"value": "{\n\"Resumename\":\"@{variables('ResumeFileName')}\",\n\"jobrole\":\"@{variables('Searchjob')}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"triggerfilename": {
				"type": "string"
			}
		},
		"variables": {
			"ResumeFileName": {
				"type": "String"
			},
			"Searchjob": {
				"type": "String"
			},
			"final": {
				"type": "String"
			}
		},
		"annotations": []
	}
}